* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  line-height: 40px;
}

#nav .wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo {
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-weight: 600;
}

.nav-links li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
}

.wrapper .nav-links {
  display: inline-flex;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  float: left;
  font-size: 16px;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;

  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  z-index: 1;
}

.dropdown-content .header {
  padding: 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: flex;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  /* width: 33.33%; */
  padding: 10px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
